.home {
    display: flex;
    height: 100vh;
    overflow: hidden;
    

    .home_container {
        flex: 5;
        min-height: 100vh;
        overflow-y: auto;
        // overflow-x: hidden;

        .wrapper {
            padding: 0 20px;

            .widgets, .charts {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 20px;
            }

            .widgets {
                margin: 20px 0;
                grid-template-columns: repeat(4, 1fr);
            }

            .charts {
                margin-top: 40px;
                grid-template-columns: repeat(3, 1fr);
            }

            .table_container {
                margin-top: 40px;
                padding: 20px;
                box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
                -webkit-box-shadow: 2px 4px 10px 1px rgba(201,201,201,.47);

                .title {
                    font-weight: 600;
                    font-size: 20px;
                    color: #a1a1aa;
                    text-transform: capitalize;
                }
            }



        }
    }


}