.featured {
   grid-column: span 1;
   padding: 20px;
   box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
   -webkit-box-shadow: 2px 4px 10px 1px rgba(201,201,201,.47);

   .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        font-weight: bold;
        font-size: 20px;
        color: #94a3b8;
        text-transform: capitalize;
    }
   }

}